<li class="list-group-item" [ngStyle]="{backgroundColor: getColor()}">


  <div class="row">

    <h2>{{post.title | uppercase}} </h2>

    <button class="btn btn-success" (click)="add()">Love it</button>
    <button class="btn btn-danger" (click)="substract()">Don't love it</button>

  </div>
  <div class="row">
    <div class="column">
      <button class="button" *ngIf="!isInit()" (click)="onInitialize()">init</button> </div>
    <div class="column"> <a [routerLink]="[id]">Détail</a></div>
    <div class="column">  <button class="button"  (click)="delete()">delete</button></div>
  </div>
</li>